<%= form_for(@sighting) do |f| %>
  <% if @sighting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sighting.errors.count, "error") %> prohibited this sighting from being saved:</h2>

      <ul>
      <% @sighting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :device_id %><br>
    <%= f.text_field :device_id %>
  </div>
  <div class="field">
    <%= f.label :gps_longitude %><br>
    <%= f.text_field :gps_longitude %>
  </div>
  <div class="field">
    <%= f.label :gps_latitude %><br>
    <%= f.text_field :gps_latitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
