<html>
  <head>
    <meta content="width = device-width"
	  name="viewport" />
    <link rel="shortcut icon"
	  type="image/x-icon"
	  href="/favicon.ico" />
    <link rel="apple-touch-icon"
	  href="<%= url_prefix %>images/pin_wings_128x128_whitebg.png" />
    <title>
      Geopeers
    </title>
    <% if is_production %>
    <link type="text/css"
	  rel="stylesheet"
	  href="<%= url_prefix %>css/geopeers.css" />
    <script src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="<%= url_prefix %>js/geopeers.min.js"></script>
    <script src="<%= url_prefix %>js/geo.js"></script>
    <% else %>
    <link type="text/css"
	  rel="stylesheet"
	  href="<%= url_prefix %>css/jquery.mobile-1.4.5.min.css" />
    <link type="text/css"
	  rel ="stylesheet"
	  href="<%= url_prefix %>css/geo.css" />
    <link type="text/css"
          rel="stylesheet"
          href="<%= url_prefix %>css/jquery.dataTables.css" />
    <script src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="<%= url_prefix %>js/jquery-1.11.1.js"></script>
    <script src="<%= url_prefix %>js/jquery-ui.js"></script>
    <script src="<%= url_prefix %>js/jquery.mobile-1.4.5.js"></script>
    <script src="<%= url_prefix %>js/jquery.ui.map.js"></script>
    <script src="<%= url_prefix %>js/markerwithlabel.js"></script>
    <script src="<%= url_prefix %>js/md5.js"></script>
    <script src="<%= url_prefix %>js/jquery.dataTables.js"></script>
    <script src="<%= url_prefix %>js/jquery-ui-timepicker-addon.js"></script>
    <script src="<%= url_prefix %>js/jstz.js"></script>
    <script src="<%= url_prefix %>js/db.js"></script>
    <script src="<%= url_prefix %>js/menu.js"></script>
    <script src="<%= url_prefix %>js/gps.js"></script>
    <script src="<%= url_prefix %>js/geo.js"></script>
    <% end %>

    <% if is_phonegap %>
    <script src="cordova.js" type="text/javascript" charset="utf-8"></script>
    <% end %>

  </head>

  <body>
    <% if ! block_gps_spinner %>
    <div id="gps_spinner"
	 class="splash_div">
      <div class="splash_text">
	Loading...
      </div>
      <img src="<%= url_prefix %>images/splash_2.gif"
	   width="220"
	   height="121">
    </div>
    <% end %>
    <div id="geopeers_config"
	 build_id="<%= build_id %>"
	 version="<%= version %>"
	 server="<%= server %>"
	 >
    </div>

    <div data-role="page" id="index" style="display:none">
      <div data-theme="a" data-role="header">
        <div class="header_content">
          <div id="header_title" class="overlap_div">
            <div class="header_title_text">Geopeers</div>
          </div>
          <div class="overlap_div">
            <div id="flying_pin" class="icon_div">
              <img src="<%= url_prefix %>images/share_box.png"
		   width="70"
		   height="43"
                   onclick="share_location.main_page()">
            </div>
            <div class="menu_div">
	      <div id="main_menu" class="dropdown_menu">
		<ul class="no-js">
		  <li>
		    <img src="<%= url_prefix %>images/mobile-menu-icon.png"
			 width="38"
			 height="38"
			 alt="Icon">
		    <ul id="navContainer">
		      <li>
			<a onclick="share_location.main_page()">
			  Share Location
			</a>
		      </li>

		      <hr>

		      <li>
			<a onclick="manage_shares()">
			  View Shares
			</a>
		      </li>

		      <hr>

		      <li>
			<a onclick="display_registration()">
			  Account Settings
			</a>
		      </li>

		      <hr>

		      <li>
			<a onclick="display_support()">
			  Make Us Better
			</a>
		      </li>

		      <div id="native_app_download" style="display:none">
			<hr>
			<li>
			  <a onclick="download_redirect_wrapper()">
			    Download Native App
			  </a>
			</li>
		      </div>

		      <div id="native_app_switch" style="display:none">
			<hr>
			<li>
			  <a onclick="device_id_bind.native_app_redirect()">
			    Switch to Native App
			  </a>
			</li>
		      </div>

		      <div id="gps_cmd" style="display:none">
			<hr>
			<li>
			  <a id="gps_cmd_menu_entry"
			     onclick="background_gps.cmd('stop')">
			    Stop GPS
			  </a>
			</li>
		      </div>

		      <div id="native_app_link">
			<hr>
			<li>
			  <a onclick="download_link_wrapper()">
			    Send Link for Native App
			  </a>
			</li>
		      </div>

		    </ul>
		  </li>
		</ul>
	      </div>
	    </div>
            <div style="clear:both"></div>
          </div>
        </div>
      </div>

      <div data-role="content" id="content">
	  <div class="info_box">
	      <div id="geo_info">
	      </div>
	  </div>
          <div id="map_canvas"
               style="height:100%">       <!-- this has to be here or JQM will override -->
          </div>
	  </div>
      </div>
    </div>

    <!-- marker popup menu -->
    <div id="marker_menu" class="dropdown_menu">
      <ul class="no-js">
	<li>
	  <ul id="navContainer">
	    <div id="send_email_menu_item">
	      <li>
		<a onclick="marker_mgr.send_to_form('email')">
		  Send email to
		  <span class="menu_account_name"></span>
		</a>
	      </li>
	    </div>
	    <hr>
	    <div id="send_mobile_menu_item">
	      <li>
		<a onclick="marker_mgr.send_to_form('mobile')">
		  Send text message to
		  <span class="menu_account_name"></span>
		</a>
	      </li>
	    </div>
	    <hr>
	    <div id="share_location_menu_item">
	      <li>
		<a onclick="marker_mgr.popup_share_location()">
		  Share your location with 
		  <span class="menu_account_name"></span>
		</a>
	      </li>
	    </div>
	    <hr>
	    <li>
	      <a onclick="marker_mgr.show_directions()">
		Show Directions to
		<span class="menu_account_name"></span>
	      </a>
	    </li>
	    <div id="share_location_expire_time_div">
	      <li>
		<hr>
		<hr>
		<div id="share_location_expire_time"
		     class="marker_menu_expire_time">
		</div>
	      </li>
	    </div>
	  </ul>
	</li>
      </ul>
    </div>  <!-- page -->

    <%= registration_page %>
    <%= download_link_page %>
    <%= download_app_page %>
    <%= native_app_switch_page %>
    <%= update_app_page %>
    <%= share_location_page %>
    <%= support_page %>
    <%= share_management_page %>
    <%= send_to_page %>

    <script>
      <% if initial_js %>
      <%= initial_js %>
      <% else %>
      start();
      <% end %>
    </script>
  </body>

</html>
