<html>
  <head>
    <meta content="width = device-width"
	  name="viewport" />
    <link rel="shortcut icon"
	  type="image/x-icon"
	  href="/favicon.ico" />
    <link rel="apple-touch-icon"
	  href="https://prod.geopeers.com/images/pin_wings_128x128_whitebg.png" />
    <title>
      Geopeers
    </title>
    <link type="text/css"
	  rel="stylesheet"
	  href="https://<%= host %>/css/jquery.mobile-1.4.5.min.css" />
    <link type="text/css"
	  rel ="stylesheet"
	  href="https://<%= host %>/css/geo.css" />
    <link type="text/css"
          rel="stylesheet"
          href="https://<%= host %>/css/jquery.dataTables.css" />
    <script src="https://<%= host %>/js/jquery-1.11.1.min.js"></script>
    <script src="https://<%= host %>/js/jquery.mobile-1.4.5.min.js"></script>

    <%= phonegap_html %>

  </head>

  <body>
    <div id="geopeers_config"
	 build_id="<%= build_id %>"
	 version="<%= version %>" >
    </div>
    <div data-role="page" id="index">
      <div data-theme="a" data-role="header">
        <div class="header_content">
          <div id="header_title" class="overlap_div">
            <div>Geopeers</div>
	    <div id="geo_info" class="info"></div>
          </div>
          <div class="overlap_div">
            <div id="flying_pin" class="icon_div">
              <img src="https://<%= host %>/images/pin_wings.png"
                   class="icon_img"
                   onclick="main_page_share_location_popup()">
            </div>
            <div class="menu_div">
	      <div id="main_menu" class="dropdown_menu">
		<ul class="no-js">
		  <li>
		    <img src="https://<%= host %>/images/mobile-menu-icon.png"
			 alt="Icon">
		    <ul id="navContainer">
		      <li>
			<a onclick="main_page_share_location_popup()">
			  Share Location
			</a>
		      </li>
		      <hr>
		      <li>
			<a onclick="manage_shares()">
			  View Shares
			</a>
		      </li>
		      <hr>
		      <li>
			<a onclick="display_registration()">
			  Account Settings
			</a>
		      </li>
		      <hr>
		      <li>
			<a onclick="display_support()">
			  Make Us Better
			</a>
		      </li>
		      <hr>
		      <li>
			<a onclick="download_link_wrapper()" id="download_onclick">
			  <div id="native_app_prompt">
			    Send Link for Native App
			  </div>
			</a>
		      </li>
		      <div id="native_app_switch" style="display:none">
			<hr>
			<li>
			  <a onclick="device_id_bind.native_app_redirect()">
			    Switch to Native App
			  </a>
			</li>
		      </div>
		    </ul>
		  </li>
		</ul>
	      </div>
	    </div>
            <div style="clear:both"></div>
          </div>
        </div>
      </div>

      <%= registration_popup %>
      <%= download_link_popup %>
      <%= download_app_popup %>
      <%= update_app_popup %>
      <%= share_location_popup %>
      <%= support_popup %>
      <%= share_management_popup %>

      <div data-role="content" id="content">
	<!-- map -->
        <div id="map_canvas"
             style="height:100%">       <!-- this has to be here or JQM will override -->
	  <div id="gps_spinner"
	       style="text-align:center; display:none">
	    <img src="https://<%= host %>/images/gps-satellites.gif">
	  </div>
        </div>
      </div>
    </div>

    <!-- marker popup menu -->
    <div id="marker_menu" class="dropdown_menu">
      <ul class="no-js">
	<li>
	  <ul id="navContainer">
	    <div id="share_location_menu_item">
	      <li>
		<a onclick="marker_mgr.popup_share_location()">
		  Share your location with 
		  <span class="menu_account_name"></span>
		</a>
	      </li>
	    </div>
	    <hr>
	    <li>
	      <a onclick="marker_mgr.show_directions()">
		Show Directions to
		<span class="menu_account_name"></span>
	      </a>
	    </li>
	    <div id="share_location_expire_time_div">
	      <li>
		<hr>
		<hr>
		<div id="share_location_expire_time"
		     style="color:black; text-align:center; padding:3px">
		</div>
	      </li>
	    </div>
	  </ul>
	</li>
      </ul>
    </div>

    <script src="https://<%= host %>/js/jquery-ui.min.js"></script>
    <script src="https://<%= host %>/js/jquery.ui.map.js"></script>

    <script src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="https://<%= host %>/js/markerwithlabel.js"></script>

    <script src="https://<%= host %>/js/md5.js"></script>
    <script src="https://<%= host %>/js/jquery.dataTables.min.js"></script>
    <script src="https://<%= host %>/js/jquery-ui-timepicker-addon.js"></script>
    <script src="https://<%= host %>/js/jstz.min.js"></script>
    <script src="https://<%= host %>/js/db.js"></script>
    <script src="https://<%= host %>/js/menu.js"></script>
    <script src="https://<%= host %>/js/geo.js"></script>
    <script src="https://<%= host %>/js/gps.js"></script>
  </body>

</html>
